@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Raleway';
  text-decoration: None;
  color:black;
  font-weight:600;
  padding:0px;
  margin:0px;

  }

#content {
  width:100%;
}

#navMain {
  background-color:#F3F9FB !important;
  width:100%;
  font-weight:500;
  font-size:18px;
  height:85px;
}

.nav-item {
  margin-right:50px;

}

.nav-link {
padding:0px;
width:auto;
}

.search {
padding:0px;
margin:0px;
color:rgba(1,1,1,0.75);
}

.search-box {
  height:30px;
  display:flex;
  cursor:pointer;
  padding: 10px 20px;
  border-radius:30px;
  align-items:center;
  position:relative;
  top:3px;
  width:20px;
  right:4px;
}

.search-icon {
  width:0;
  height:30px;
  outline:none;
  border:none;
  border-radius:15px; 
  /* border:1px solid rgba(1,1,1,0.3);*/
  color:transparent;
  transition:0.3s;
  background:transparent;
  z-index:1;
  position:relative;

}

.search-box:hover input {
  width:150px;
  z-index:1;
  position:relative;
  /* background:yellow; */
  height:35px;
  margin-right:10px;
}

.search-box:hover div {
  width:200px;
  z-index:1;
  position:absolute;
  background:white;
  height:35px;
  display:flex;
  padding-left:9px;
  
}

.search-box:hover .search-icon {
  display:block;
  z-index:1;
  position:relative;
  top:9.5px;
  font-size:15px;
  color:rgba(1,1,1,0.7) !important;
}

.search-box div {
  width:0;
  height:36px;
  outline:none;
  border:none;
  border-radius:15px; 
  transition:0.3s;
  background:white;
  z-index:1;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.search-box input {
  width:0;
  height:30px;
  outline:none;
  border:none;
  border-radius:15px; 
  /* border:1px solid rgba(1,1,1,0.3);*/
  font-weight:500;
  font-size:12px;
  transition:0.3s;
  background:transparent;
  z-index:1;
}

.nav_text {
display:flex;
justify-content:space-between;
width:190px;
margin-right:70px;
font-size:1.3em;
font-weight:bold;
}

.nav_text > a {
  margin-left:26px;
}

#logo_div {
overflow:hidden;
margin-right:50px;
padding-right:8px;
margin-left:35px;
margin-top:5px;
width:auto;
}

.logo {
position:relative;
object-fit:contain;
width:27px;
height:60px;
}


@media screen and (max-width: 992px) {

  #navMain {
    height:auto;
  }

  .nav-item {
    margin:8px;
  
  }
}


.base-link {
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  width:33px;
  height:35px;
}

.base-icon {
  position:absolute;
  top:5px;
}

/* Make the badge float in the top right corner of the button */
.button_badge {
  background-color: #fa3e3e;
  border-radius: 10px;
  width:16px;
  height:16px; 
  position: absolute; /* Position the badge within the relatively positioned button */
  left:11px;
 
}

.button_badge > div {
  text-align:center;
  font-size: 10px;
  color: white;
  line-height:16px;
}

/*IMG*/
.item-img {
  width:190px;
  height:190px;
  margin-right:24px;
  background-color:#ebecee;
  overflow:hidden;
  display:flex;
  justify-content:center;
}

.img_product {
  width:345px;
  height:345px;
  /* display:block; */
  position:relative;
  left:5px;

  object-fit:contain;
  /* object-fit:cover; */
  /* object-position: top; */
  /* z-index:1; */
  margin:0px !important;
}

@media screen and (max-width:550px) {
  
  #logo_div {
    margin-right:35px;
    margin-left:25px;
  }

  .logo {
      width:19px;
      height:50px;
  }

  .nav_text {
    margin-right:50px;
    }
}

@media screen and (max-width:432px) {
  
  #logo_div {
    margin:0px 10px 0px 20px;

  }

  .nav_text {
    margin-right:30px;
    width:175px;
    margin-top:10px;
    }

  .search-box:hover div {
    width:175px;
  }

  .search-box:hover input {
    width:120px;
  }

  .search-box:hover .search-icon {
    margin-left:20px;
  }
}