<!DOCTYPE html>
{% extends "main/base2.html" %}
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %} Login | TanpaTitik {% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/user/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/cart_wishlist/cart.css' %}">
    {% endblock head %}


</head>

<body>

<div id="content", name="content", class="main" style="width:100%">
    {% block content %} <!--itnside this block content, the elements will be pasted to the parent elements which is base2.html-->

    <div class="container cart-wishlist-content" style="display:flex;justify-content:center">

      <div class="register-box" style="width:450px;">
        <div class="register-login-icon"><img src="{{logo2.img.url}}"></div>
        <div class="register-heading" style="font-size:23px;margin-bottom:0px;line-height:1;margin-top:10px;">WELCOME BACK!</div>
        <div class="register-heading" style="font-size:16px;font-weight:400;">Log in to your account.</div>
      
        <div class="register-form" style="">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="input-form" style="">
              <input type='text' name="username" placeholder="Username">
              <input type='password' name="password" placeholder="Password">
            </div>

            {% for message in messages %}
            <div class="register-login-error">
              {{message}}
            </div>
            {% endfor %}
          
            <div class="btn-container"><button type="submit" name="login_user" class="btn register-login-button">Log In</button></div>
          </form>
        </div> <!--register-form-->

        <div class="register-login-footer">Don't have an account? <a href="{% url 'register_page' %}">REGISTER</a></div>
      
      </div>

    </div> <!--cart-wishlist-content-->

    {% endblock %}
</div>



</body>


  {% block scripts %}
  <script type="text/javascript" src="{% static '/js/cart.js' %}"></script>

  <script>

  </script>


  {% endblock scripts %}


</html>

